[v-cloak] {
  display: none;
}

.form-div {
  padding: 25px 0;
}

.tab-pane {
  background-color: var(--background);
}

.nav-link {
  background-color: var(--accent);
  color: var(--primary);
  font-weight: 700;
  font-size: 18px;
   
}

.all_tabs {
  gap: 5px;
}

@media (max-width: 768px) {
  .form-div {
      padding: 15px 5px;
  }

  .nav-link {
      font-size: 15px;
      font-weight: 600;
  }
}
