.container-update-password{
    margin: 10px 0;
    max-width: 500px;
}

.error-msg{
  max-width: 500px;
  width: unset;
  margin-bottom: 30px;
}

.btn-submit {
  background-color: var(--primary);
  color: var(--white);
  margin: 30px 0;

  font-size: 16px;
  font-weight: 700;
  padding: 0 25px;
  line-height: 36px;
   

}

.btn-submit-content{
  display: flex;
  justify-content: end;
}

.form-update-password{
  margin: 30px 0;

}


@media screen and (max-width:576px) {
.btn-submit-content{
  justify-content: center;
}
.btn-submit{
  width: 100%;
}
}
