// Fonts


// Variables
@import 'variables';

$primary: #3e3c7d;
$secondary: #6370e0;

$modal-sm: 400px;
$modal-md: 600px;
$modal-lg: 1000px;
$modal-xl: 1240px;


// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Font-Awesome
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

