.social-network{
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0px 10px;
    text-align: center;
}
.social-network i{
    color: #5a5c69;
    font-size: 26px;
    font-weight: bold;
    margin-top: 11px;
}

label{
    color: grey;
    font-weight: 500;
    font-size: 18px !important;
}

.center-login{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 30px;
    font-weight: bold;
    color: grey;
}

.btn-login{
    font-size: 18px;
    padding: 5px 25px;
}

#remember{
    font-size: 18px;
}
.active{
    font-weight: bold;
    background-color: #212529 !important;
}
.nav-pills li a{
    border-radius: 0px !important;
    color: #212529;
    font-weight: bold;
}
.site-name{
    font-weight: bold;
    font-size: 150%;
}
.pss{
    color: #808080;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .social_media{
        display: none !important;
    }
}
